.App {
  text-align: center;
  background-color: #f5e9d8;
  background-image: url('./media/map4k.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
