.custom-profile-icon {
    width: 2vw;
    height: auto;
}
.dropdown-menu {
    background-color: transparent !important;
    border: none !important;
}

.dropdown-item {
    color: green !important;
}